# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://inmdoxdzpajzncapyurj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_A0GneEuSHVgzkZAhzwFDVw_JE8ai8Q_
# Pegue em Supabase > Project Settings > API > service_role (NUNCA exponha no cliente)
SUPABASE_SERVICE_ROLE_KEY=

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# App
NEXT_PUBLIC_SITE_URL=http://localhost:3000
